.detailsWrapper{padding: 40px;position: relative;}

.close{position: absolute;right:40px;top: 30px;font-weight: 300;cursor: pointer;}

.detailsWrapper a{font-weight: 300;text-decoration: none;}
.detailsWrapper p{margin-top: 20px;}
.codeBlockWrapper{overflow-x: auto;margin-top: 20px;}


.tip,.codeBlockWrapper{filter: blur(2px);transition: 0.4s all;}
.tip:hover,.codeBlockWrapper:hover{filter: blur(0px);}

@media (max-width:1440px){
    .detailsWrapper{padding: 2.778vw;}
    .close{right:2.778vw;top: 2.083vw;}
    .detailsWrapper p{margin-top: 1.389vw;}
    .codeBlockWrapper{margin-top: 1.389vw;}
}

@media (max-width:767px){
    .detailsWrapper{padding: 5.215vw;}
    .close{right:5.215vw;top: 3.911vw;}
    .detailsWrapper p{margin-top: 2.608vw;}
    .codeBlockWrapper{margin-top: 2.608vw;}
}



.tip{color: var(--secondary-text);}
.easy{color: rgb(218, 244, 181);}
.hard{color: rgb(244, 145, 145);}
.medium{color: rgb(251, 213, 142);}